# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.ruff_cache/

# Environments
.env
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# Mypy / coverage
.mypy_cache/
.coverage
htmlcov/

# Docker
postgres-data/

# Misc
*.log
*.sqlite3
